<h1>Edit <%= @dish.title %></h1>
<form method="POST" action="/dishes/<%= @dish.id %>">
  <input type="hidden" name="_method" value="PUT">
  <div>
    <input id="title" required name="title" value="<%= @dish.title %>" />
    <label for="title">Title</label>
  </div>
  <div>
    <input id="price" required name="price" value="<%= @dish.price %>" />
    <label for="price">Price</label>
  </div>
  <div>
    <textarea id="desc" required name="description">
      <%= @dish.description %>
    </textarea>
    <label for="desc">Description</label>
  </div>
 <button type="submit">Save</button>
</form>